$primary: #9dd67e;
$onPrimary: #0d3900;
$primaryContainer: #205107;
$onPrimaryContainer: #b8f397;
$secondary: #bdcbb0;
$onSecondary: #203432;
$secondaryContainer: #3e4a36;
$onSecondaryContainer: #d9e7cb;
$tertiary: #a0cfcf;
$onTertiary: #003738;
$tertiaryContainer: #1e4e4e;
$onTertiaryContainer: #bbebeb;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$background: #1a1c18;
$onBackground: #e3e3dc;
$surface: #1a1c18;
$onSurface: #e3e3dc;
$surfaceVariant: #43493e;
$onSurfaceVariant: #c4c8bb;
$outline: #8d9286;
$shadow: #000000;
$inverseSurface: #e3e3dc;
$inverseOnSurface: #2f312c;
$inversePrimary: #386a20;