.bar-widget {
    /* Определяне на вътрешното разстояние: 0.3rem отгоре и долу, и 0.3rem отляво и отдясно */
    padding: 0rem 0.3rem;
    /* Определяне на разстоянието между .bar-widget елементите отдолу: 0rem */
    margin-bottom: 0rem;
    /* Определяне на разстоянието между .bar-widget елементите отляво: 0rem */
    margin-left: 0rem;
    /* Определяне на разстоянието между .bar-widget елементите отдясно: 0rem */
    margin-right: 0rem;
    /* Премахване на закръгленията на долната лява граница */
    border-bottom-left-radius: 0;
    /* Премахване на закръгленията на долната дясна граница */
    border-bottom-right-radius: 0;
 }