.workspaces {
    border-radius: 1rem;
    padding: 5 0rem;
    margin: 0 2rem;
    background-color: $surfaceVariant;
}

.workspace {
    border-radius: 1rem;
    background-color: white;
    margin: 5 0.25rem;
    padding: 0 0.6rem;
    transition: 0.6s;

    &.current {
        background-color: $primary;
        padding: 20 0.8rem;
        margin: 8 0rem;
    }
}

.workspace:hover {
    background-color: mix($onPrimary, $onSurface, 70%);
    &.current {
        background-color: mix($primary, $onSurface, 70%);
    }
}