.indicator {
    background-color: $surfaceVariant;
    border-radius: 1rem;
    padding: 3 0.1rem;
    margin: 45 0.1rem;
    margin-right: 0.57rem;
    transition: 0.3s;
}

.indicator-icon {
    margin: 0 0rem;
    font-size: 1.3rem;
}

.indicator:hover {
    background-color: mix($surfaceVariant, $onSurfaceVariant, 70%);
}