.indicator {
    background-color: $surfaceVariant;
    border-radius: 1rem;
    padding: 3 0rem;
    margin: 60 0.3rem;
    margin-right: 0rem;
    transition: 0.3s;
}

.indicator-icon {
    margin: 8 0rem;
    font-size: 1.5rem;
}

.indicator:hover {
    background-color: mix($surfaceVariant, $onSurfaceVariant, 70%);
}